.menu
{
background-color:azure;
margin-top:20px;
width:1300px;
height:100px;
margin-left:20px;
position:relative;
}
.logo 
{
height:100px;
width:500px;
background-color:azure;
float:left;
}
.logo img
	{
		width:500px;
		height:100px;
	} 


.links
{
	background-color:azure;
	height:100px;
	width:800px;
	float:left;
}
a
{
margin-top:20px;
font-weight:bold;
font-size:30px;
margin-left: 50px;
text-decoration:inherit;
color:red;
text-align:center;
text-transform:capitalize;
}
.middle
{
margin-top:30px;
height:300px;
background-color:red;
}
.middle2
{
margin-top:20px;
height:300px;
background-color:azure;
}
input
{
margin-right:160px;
float:right;	
width:250px;
height:20px;
}
textarea
{

margin-right:160px;
width:250px;
height:100px;
float:right;	
}
table
{
margin-left:300px;
padding:20px;
width:200px;
border:3px solid black;

}
.footer
{
 background-image: url("egypt.jpg");
height:300px;
background-color:azure;
margin-top:50px;
}
.map 
{
margin-top:50px;
width:500px;
height:200px;
float:right;
}


.three
{
	background-color:azure;
	width:400px;
	height:300px;
	float:right;
	margin-right:60px;
	margin-top: 200px;
}
.two
{
	background-color:silver;
	width:350px;
	height:100px;
	float:right;
	margin-right: 0px;
	margin-top: 160px;

}
.two a
{
margin-top:270px;
color:black;
border: 10px
}
.three input
{
background-color:silver;
width:120px;
margin-left:100px;
}

